body{
	padding:0px;
	margin:0px;
	z-index:1;

	
}




#background{
	
	position: fixed;
	width: 100%;
	height: 100%;
	background:#3E85EF;
	/* IE10 Consumer Preview */ 
	
	background-image: -ms-radial-gradient(left center, ellipse farthest-corner, #FFFFFF 0%, #3E85EF 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(left center, ellipse farthest-corner, #FFFFFF 0%, #3E85EF 100%);

	/* Opera */ 
	background-image: -o-radial-gradient(left center, ellipse farthest-corner, #FFFFFF 0%, #3E85EF 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, left center, 0, left center, 981, color-stop(0, #FFFFFF), color-stop(1, #3E85EF));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(left center, ellipse farthest-corner, #FFFFFF 0%, #3E85EF 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(ellipse farthest-corner at left center, #FFFFFF 0%, #3E85EF 100%);
	z-index:-1;
}

#nojavascript{
	position: absolute;
	width: 100%;
	height: 100%;
	background: white;
	float:left;
	text-align:center;
	font-family: "Times New Roman", Times, serif;
	font-style: oblique;
	font-size: 40px;
	background-color:lightgray;
	
}

#nojavascripttext{
	text-align: center;
    position: relative;
	border: 1px solid black;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	width:1000px;
	margin-left:-550px;
	margin-top:-75px;
	height;100px;
	padding:50px;
	top:50%;
	left:50%;
	
}


#background_loading{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index:9000;
	display:none;
	background-image: -ms-radial-gradient(left center, ellipse farthest-corner, #FFFFFF 0%, #3E85EF 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(left center, ellipse farthest-corner, #FFFFFF 0%, #3E85EF 100%);

	/* Opera */ 
	background-image: -o-radial-gradient(left center, ellipse farthest-corner, #FFFFFF 0%, #3E85EF 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, left center, 0, left center, 981, color-stop(0, #FFFFFF), color-stop(1, #3E85EF));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(left center, ellipse farthest-corner, #FFFFFF 0%, #3E85EF 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(ellipse farthest-corner at left center, #FFFFFF 0%, #3E85EF 100%);
}

#loading{

	position:absolute;
	z-index:9001;
	overflow:hidden;
	left:50%;
	margin-left:-110px;
	top:50%;
	margin-top:-10px;

	
}

#waiting{
	
	position:absolute;
	z-index:9001;
	overflow:hidden;
	left:50%;
	margin-left:-85px;
	top:50%;
	margin-top:-16px;
	width:192;
	height:32px;
	display:none;

}

#background_dialog{
	
	position: fixed;
	width: 100%;
	height: 100%;
	background:#3E85EF;
	opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
	z-index:9000;
	display:none;
}

#dialogtext{

	width:500px;
	height:250px;
	text-align:center;
	font-family: "Times New Roman", Times, serif;
	font-style: oblique;
	font-size: 40px;
	vertical-align: middle;  
}

#dialogbuttons{

	width:500px;
	height:50px;
	text-align:right;
	
}

#dialog{
	border: 5px solid red;
	position:absolute;
	z-index:9001;
	overflow:hidden;
	left:50%;
	margin-left:-250px;
	top:50%;
	margin-top:-150px;
	width:500px;
	height:300px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background:white;
	padding:20px;
	display:none;
}

.waiting_class{
	
	float:left;
}



#quiz_all{
	
}



#all{
	width:70%;
	margin-left:15%;
	padding-top: 50px;

}

.quiz{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width:98%;
	
	margin-bottom:20px;
	padding: 10px;
	height:100px;
	
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	background: rgb(109,179,242); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(109,179,242,1) 0%, rgba(30,105,222,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(100%,rgba(30,105,222,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(30,105,222,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(30,105,222,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(30,105,222,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(109,179,242,1) 0%,rgba(30,105,222,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
}

.quiz:hover{
	color:white;
	background: rgb(109,179,242); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(109,179,242,1) 0%, rgba(5,0,165,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(100%,rgba(5,0,165,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(5,0,165,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(5,0,165,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(5,0,165,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(109,179,242,1) 0%,rgba(5,0,165,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
}

.antwort{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border-color:#004FED;
	width:450px;
	height: 100px;
	margin-top:30px;
	float:left;
	padding: 10px;
	background-color:#004FED;
	position: relative;
	color: white;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
}

#joker{
	position:absolute;
	margin-top:-20px;
	
}
thead{
	text-align:left;
}

.jokertext{
	
	height:30px;
	border:1px solid black;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding-top:10px;
	background-color:#004FED;
	color: white;
	width:50px;
	text-align:center;
	margin-bottom:5px;
}

.joker_end{
	position:absolute;
	font-family: "Times New Roman", Times, serif;
	font-size: 40px;
	text-align:center;
	width:70px;
	color:red;
	font-weight:bold;
	margin-left:-10px;
	display:none;
}

#stufen{
	position:absolute;
	margin-left:1050px;
	width:30px;
	text-align:center;
	font-family: "Times New Roman", Times, serif;
	font-size: 17px;
	color:white;
	
}

#stufen li {           /* Normalisierung */
	list-style: none; 
	margin: 0; 
	padding: 0;
	border: 0;


}

.stufe{
	height:25px;
	border:1px solid black;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding-top:2px;
	background-color:#004FED;
}


  
#stufen ul {
margin:0;
padding:0;

  }

#antwort2{
	margin-left:70px;
}
#antwort4{
	margin-left:70px;
}

#all_quiz{
	
	position:absolute;
	width:1024px;
	left:50%;
	margin-left:-512px;
	padding: 20px;
	height:400px;
	top:50%;
	margin-top:-250px;
}
#ende{
	position:absolute;
	margin-top: 320px;
	margin-left: 950px;
}

#frageFenster{
	padding: 10px;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 5px solid #004FED;
	width: 80%;
	margin-left: 10%;
	height: 70px;
	background-color:white;
	text-align:center;
}

#login_form{
	position:absolute;
	border: 1px solid black;
	width:400px;
	
	top:50%;
	left:50%;
	margin-left:-250px;
	margin-top:-100px;
	border-radius: 10px;
	padding:20px;
	padding-left:40px;
	background-color:white;
}
#login_form td{
	height: 40px;
}

#login_form h1{
text-align:center;
}

#navigation_all{
	position:absolute;
	text-align:right;
	width:70%;
	margin-left:15%;
	
}

#navigation{

	margin-top:-10px;
	padding-top:20px;
	padding-bottom:5px;

}

#navigation li {           /* Normalisierung */
	list-style: none; 
	margin: 0; 
	padding: 0;
	border: 0;
}
  
#navigation ul {
display: inline-block;	
margin:0;
padding:0;

  }
#navigation li {
	display: inline-block;
	border: 1px solid rgb(109,179,242);
	width:80px;
	height:20px;
	text-align:center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-right:5px;
	color:white;
	background: rgb(109,179,242); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(109,179,242,1) 0%, rgba(5,0,165,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(100%,rgba(5,0,165,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(5,0,165,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(5,0,165,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(5,0,165,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(109,179,242,1) 0%,rgba(5,0,165,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
}

table{
	border:solid 3px blue;
	padding:10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width:100%;
	background:white;
}
#questions table{
	border:none;
}

#login_form table{
	border:none;
}
td{
	background: white;
	opacity: 0.97;
	height:25px;
	
}

#new  {
	padding-top:3px;
	border: 1px solid rgb(109,179,242);
	width:170px;
	height:30px;
	text-align:center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:white;
	background: rgb(109,179,242); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(109,179,242,1) 0%, rgba(5,0,165,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(100%,rgba(5,0,165,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(5,0,165,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(5,0,165,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(5,0,165,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(109,179,242,1) 0%,rgba(5,0,165,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
}
#new a {
	Color:white;
}

#navigation a:link {
	color:white;
}

#navigation a:visited {
	color:white;
}

#navigation a:hover {
	color:white;
}

#navigation a:active {
	color:white;
}


#ajax_loading{
	display:none;
}

#quiz_all a:link {
	color: #000099;
}

#quiz_all a:visited {
	color: #000099;
}

#quiz_all a:hover {
	color: #000099;
}

#quiz_all a:active {
	color: #000099;
}

a{
    text-decoration: none;
}


